# Session 2 Tasks

1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [ ]:
street = input("enter a street name: ")
city = input("enter a city name: ")
country = input("enter a country name: ")
address = street +"\n"+ city +"\n"+ country
print(address)
address = f"{street}\n{city}\n{country}"
print(address)

In [ ]:
text = "Earth revolves around the sun"
print(text[5:14])
print(text[-3:])

 revolves
sun

In [ ]:
vegetables =int(input("enter how many vegetables you eat in a day: "))
fruits = int(input("enter how many fruits you eat in a day: "))
print(f"i eat {vegetables} veggetables and {fruits} fruits today")

enter how many vegetables you eat in a day: 2
enter how many fruits you eat in a day: 3
i eat 2 veggetables and 3 fruits today

In [ ]:
s ="maina 200 banana khaye"
s = s.replace("200","10"). replace("banana","samosa")
print(s)

maina 10 samosa khaye

1. Let us say your expense for every month are listed below.
	  1. January -  2200
    2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
expenses = [2200, 2350, 2600 , 2130 , 2190]
extra = expenses[1]-expenses[0]
print(extra)
expenses_first_quarter = expenses[0]+ expenses[1]+ expenses[2]
print(expenses_first_quarter)
print(2000 in expenses)
expenses.append(1980)
print(expenses)
expenses = expenses[3]-200
print(expenses)

150
7150
False
[2200, 2350, 2600, 2130, 2190, 1980]
1930

In [ ]:
heros = ['spider man','thor','hulk','iron man','captain america']
print(len(heros))
heros.append('black panther')
print(heros)
heros.remove('black panther')
heros.insert(3, 'black panther')
print(heros)
heros[heros.index('thor')] = 'doctor strange';heros[heros.index('hulk')] ='doctor strange'
print(heros)
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america', 'black panther']
['spider man', 'doctor strange', 'doctor strange', 'black panther', 'iron man', 'captain america', 'black panther']
['black panther', 'black panther', 'captain america', 'doctor strange', 'doctor strange', 'iron man', 'spider man']