<a href="https://colab.research.google.com/github/maryamabdelrashid/PROJECTS_COURSE/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ask the user for a number n. Print numbers from 1 to n using a while loop

In [ ]:
n = int(input("enter number: "))
i = 1
while i<=n:
  print(i)
  i+=1

enter number: 7
1
2
3
4
5
6
7

# Ask the user to enter a number n, then calculate and print the sum of numbers from 1 to n using a for loop.

In [ ]:
n = int(input("enter number: "))
sum = 0
for i in range (n+1):
  sum+=i
  print("the sum is", sum)

enter number: 7
the sum is 0
the sum is 1
the sum is 3
the sum is 6
the sum is 10
the sum is 15
the sum is 21
the sum is 28

# Ask the user for a number and print its multiplication table up to 10 using a for loop.

In [ ]:
number= int(input("enter a number:"))
for i in range(1,11):
  print(number,'x',i,'=',number * i)

enter a number:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

# Use a for loop to print all even numbers between 1 and 50.

In [ ]:
for i in range(1,51):
  if i %2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
for i in range (2, 51,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

#Create a program that asks the user to guess a secret number (e.g., 7).
#Keep asking until they guess correctly using a while loop.

In [ ]:
number = int(input("enter a number:"))
while number!=7:
  print ("try again")
  number = int(input("enter a number:"))
  while number==7:
    print("correctly")
    break

enter a number:8
try again
enter a number:9
try again
enter a number:10
try again
enter a number:6
try again
enter a number:7
correctly

# Ask the user to enter a number, then count down from that number to 0 using a while loop.

In [ ]:
number = int(input("enter number: "))
while number>=0:
  print(number)
  number-=1

enter number: 7
7
6
5
4
3
2
1
0

# Write a program that prints following shape

```
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
```

In [6]:
for i in range(1,6):
  spaces = 5-i
  stars = 2*i-1
  print(" "* spaces + "*"* stars)
for i in range(4,0,-1):
  spaces = 5-i
  stars = 2*i-1
  print(" "* spaces + "*"* stars)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *